@font-face {
  font-family: "gotham";
  /* src: url('D:/React/practice/petstop/src/fonts/Gotham Bold/Gotham Bold.otf'); */
  /* Kurt: I changed src to below */
  src: url("../fonts/Gotham\ Bold/Gotham Bold.otf");
}

.about-heading {
  font-size: 4rem;
  font-family: gotham;
  color: #47bfaf;
  text-align: center;
  margin-bottom: 80px;
  border-bottom:8px solid #47bfaf;
}

.about-div {
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

.about-div p {
  font-size: 1.5rem;
  text-align: justify;
}

.chatbox{
  font-family:gotham!important;
}

