@font-face {
  font-family: "gotham";
  src: url("../fonts/Gotham\ Bold/Gotham Bold.otf");
}

/* I had to use id to override bootstrap */
#register-button {
  background-color: #47bfaf;
  font-family: gotham;
  font-size: 1rem;
  border: none;
}

#modal-container {
  top: 20%;
}
